<div class="container">
  <app-titulo></app-titulo>

  <app-card-content>
      <div class="d-flex flex-column flex-md-row">
        <div class="d-flex flex-column justify-content-center col-12 col-md-4">
            <img src="https://avatars3.githubusercontent.com/u/49987226?v=4" alt="foto-perfil">
            <h4 class="text-center mt-2">Adriano Araújo Felisberto</h4>
        </div>
        <div class="col-12 col-md-8 d-flex flex-column">
          <p>Seguidores: 10</p>
          <p>Seguindo: 200</p>
          <p>Email: adrianofelisberto1990@hotmail.com</p>
          <p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illo est nulla, impedit pariatur similique at fuga architecto cum consequatur distinctio minima odio unde enim magni praesentium quasi laboriosam corporis.</p>
        </div>
      </div>
  </app-card-content>

  <div class="col-md-6 ml-auto">
    <app-botoes-grupo-content class="col-12 col-md-6">
      <app-botao
        class="col-12 col-md-6 pl-md-0"
        placeholder="Voltar"
      ></app-botao>
      <app-botao
        class="col-12 col-md-6 mt-3 mt-md-0 pr-md-0"
        placeholder="Ver Repositórios"
      ></app-botao>
    </app-botoes-grupo-content>
  </div>
</div>
